
// Базовый контейнер
.flex {
  display: flex;
}

// Направление
.vertical {
  flex-direction: column;
}

.horizontal {
  flex-direction: row;
}

// Выравнивание по вертикали (align-items)
.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.align-normal {
  align-items: normal;
}

.align-flex-start {
  align-items: flex-start;
}

// Выравнивание по горизонтали (justify-content)
.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-normal {
  justify-content: normal;
}

.justify-flex-start {
  justify-content: flex-start;
}

// Перенос строк
.wrap-wrap {
  flex-wrap: wrap;
}

.wrap-nowrap {
  flex-wrap: nowrap;
}

.wrap-wrap-reverse {
  flex-wrap: wrap-reverse;
}

// Если wrap === true (по умолчанию wrap)
.wrap-true {
  flex-wrap: wrap;
}