@import './variables.scss';

html, body {
  margin: 0 !important;
  font-family: "Inter", sans-serif;
  height: 100% !important;
  font-variant-ligatures: none;
}

#root, .app {
  height: 100%;
}


.activity-card-wrapper .ant-card {
  height: 580px !important;
}

.activity-card-wrapper .ant-card-body {
  height: calc(100% - 57px) !important; 
}